asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
Django==5.0.14
django-extensions==4.1
dotenv==0.9.9
gitdb==4.0.12
GitPython==3.1.41
idna==3.10
mssql-django==1.5
mysqlclient==2.2.7
numpy==2.2.5
psycopg2==2.9.10
pyodbc==5.2.0
python-dotenv==1.1.0
pytz==2025.2
requests==2.32.3
setuptools==80.9.0
smmap==5.0.2
sqlparse==0.5.3
urllib3==2.4.0
