asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
dotenv==0.9.9
Django==5.2
django-extensions==4.1
gitdb==4.0.12
GitPython==3.1.41
idna==3.10
numpy==2.2.5
psycopg2==2.9.10
python-dotenv==1.1.0
requests==2.32.3
setuptools==75.6.0
smmap==5.0.2
sqlparse==0.5.3
urllib3==2.4.0
